---
import ButtonPrimary from "@/components/common/ButtonPrimary.astro";
import Rating from "@/components/common/hero/Rating.astro";
import Section from "@/components/common/Section.astro";
import heroData from "@/data/sections/hero.json" with { type: "json" };
import Satisfaction from "@/components/common/hero/Satisfaction.astro";
import Title from "@/components/common/hero/Title.astro";
import Video from "@/components/common/hero/Video.astro";
import Sponsors from "@/components/common/hero/Sponsors.astro";

const { title, rating, desc, link, SatisfactionText } = heroData;
---

<Section id="hero">
  <div class="grid grid-cols-1 mt-[23px] gap-4">
    <div class="flex flex-col">
      <Rating rating={rating} />
      <Title title={title} desc={desc} />
      <ButtonPrimary url={link.url}>{link.text}</ButtonPrimary>
      <Satisfaction SatisfactionText={SatisfactionText} />
    </div>

    <div>
      <Video>
    </div>
  </div>
  <Sponsors />
</Section>

<style is:global>
  #hero .container {
    --_max-width: 1276px;
  }
</style>
