---
import Typography from "@/components/common/Typography.astro";
import review from "@/data/sections/review.json";
const { title, img, icon, reviews } = review;

const half = Math.ceil(reviews.length / 2);

const firstHalf = reviews.slice(0, half);
const secondHalf = reviews.slice(half);
---

<section class="container py-[3rem]">
  <img class="mx-auto" src="/images/5stars.svg" alt="" />
  <Typography class="text-center" as="h2" variant="h2-sm" color="black">
    {title}
  </Typography>
  <div class="grid grid-cols-3 h-full mt-20">
    <div class="flex flex-col gap-2 flex-grow justify-between">
      {
        firstHalf.map((review) => (
          <div class="flex gap-4 items-start">
            <img src={icon} class="size-[25px] mt-1" />
            <div class="flex flex-col gap-2">
              <span class="text-blue font-bold text-xl">{review.title}</span>
              <br />
              {review.desc}
            </div>
          </div>
        ))
      }
    </div>
    <div class="flex items-center justify-center h-full">
      <img src={img} alt="" />
    </div>
    <div class="flex flex-col gap-2 flex-grow justify-between">
      {
        secondHalf.map((review) => (
          <div class="flex gap-4 items-start">
            <img src={icon} class="size-[25px] mt-1" />
            <div class="flex flex-col gap-2">
              <span class="text-blue font-bold text-xl">{review.title}</span>
              <br />
              {review.desc}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
